<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Strona główna</a> |
        <a href="{{ url_for('register') }}">Zarejestruj</a> |
        <a href="{{ url_for('login') }}">Zaloguj</a>
    </nav>

{% extends 'base.html' %}
{% block title %}Strona główna{% endblock %}
{% block content %}
    <h1>ZBUC SIE!</h1>
    <p>To jest przykładowa strona główna.</p>
    <p>
        <a href="{{ url_for('register') }}"><button type="button">Zarejestruj</button></a>
        <a href="{{ url_for('login') }}"><button type="button">Zaloguj</button></a>
    </p>
{% endblock %}
